table {
    border-color: #f43131;
    border-radius: 1rem;
    border-style: solid;
    margin: 2rem auto;
    text-align: center;
}

h3 {
    margin: 1px;
}

iframe {
    border-color: #f43131;
    border-radius: 1rem;
    margin: 2rem auto;
    display:block;
}

  /* Styles for users who prefer dark mode at the OS level */
  @media (prefers-color-scheme: dark) {
    body { 
      color: #eee;
      background-color: #242424;
    }
  }

body{
    text-align: center;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }