
body {
  text-decoration-color: #222;
  background-color: #a79696;
}

h1{
  text-align: center;
}

a{
  color: #f43131;
  text-align: left;
}

table {
  border-color: #f43131;
  border-radius: 1rem;
  margin: 2rem auto;
  text-align: center;
}

  /* Styles for users who prefer dark mode at the OS level */
  @media (prefers-color-scheme: dark) {
    body { 
      color: #eee;
      background-color: #242424;
    }
  }

.profilepicture{
    width: 20rem;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*TODO: check mastodon poll results*/
    border-radius: 1rem;
}